<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The art of Arita</title>

    <script href="libs/bezier.js" defer></script>
    <script href="libs/gsap.min.js" defer></script>
    <script href="libs/swiped-events.min.js" defer></script>

    <link rel="stylesheet" href="sass/main.css">
    <script href="js/script.js" defer></script>
</head>
<body>
    <div class="mouse" aria-hidden="true">
        <div class="mouse__view">View</div>
    </div>

    <div class="preloader">
        <span class="preloader__back">Contemporay</span>
        <p class="preloader__forward">The art of Arita
            <span class="preloader__background"></span>
        </p>
    </div>
    
    <input type="hidden" value="1" id="helper-input">

    <div class="site-container">
        
    </div>
</body>
</html>